body{
    background-color: #e7e7e7;
}

div{
    margin: 5% 2%;
}

h2{
    text-align: center;
    font-family: 'Syncopate', sans-serif;
    font-size: 20px;
}

.top h2{ color: #000aff;
    position: relative;
    text-align: center;
    font-size: 30px;
z-index: 1000000;
margin-top: -2%;
margin-bottom: -3%;}

#canvas{
    background-color: white;
    border: black 3px solid;
    box-shadow:black 10px 10px;
    font-family: 'Stoke', serif;
    padding: 4%;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    
}

#input{
    text-align: center;
    vertical-align: middle;
}

.mid h2:hover{
    cursor:pointer;
    color: #000aff;
}

.mid{ display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 4%;
    padding: 1rem;}

.mid h2{  width: 15px;  
    margin: 0 auto;  
    line-height: 20px;  
    font-size: 20px;  
    word-wrap: break-word;}

#input{
    border: #e7e7e7 ;
    color: #e7e7e7;
    background-color: #e7e7e7;
}
#block{
    margin: -1%;
    padding: 0;
    width: 200px;
    height: 50px;
    position: absolute;
    z-index: 100;
    border: #e7e7e7 10px;
    color: #e7e7e7;
    background-color: #e7e7e7;
}