img{
    max-width: 200px;
    border: yellow solid;
}

body{

background-color: #0c00ab;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;

}


.card-container.active{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 1rem;
    box-sizing: border-box;
    border: white solid 0.5px;
    }

.card-container{
    display: none;

}

h1{
    color: white;
    font-size: 5em;
    font-family: bely-display, sans-serif;

    font-weight: 400;

    font-style: normal;


}

p{
    color: yellow;
    
    font-size: 1.3em;
    font-family: century-gothic, sans-serif;

    font-weight: 400;
    
    font-style: normal;

}

#placetitle{
    color: white;
    font-size: 1.3em;
    display: inline;
    font-family: century-gothic, sans-serif;

    font-weight: 400;
    
    font-style: normal;

}



.place:hover{
    cursor: pointer;
    color: white;
}

.place{   
    color: black;
    font-size: 1.3em;
    display: inline;
    font-family: century-gothic, sans-serif;

    font-weight: 400;
    
    font-style: normal;

}

.location{
    margin-top: -2%;
    margin-bottom: 2%;
}