
body{background-color: black;
    
}



.choice{
    text-align: center;
}

.link--nukun {
    text-align: center;
    text-decoration: none;
    font-family:'Pixels';
    font-size: 12vw;
	color:lightslategray;
	font-weight: 300px;
	text-transform: uppercase;
	overflow: hidden;
	padding: 10px 0;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.link--nukun:hover {
	color: white;
}




.link--nukun:hover::before {
	-webkit-transform: translate3d(300%,0,0) scale3d(0,1,1);
	transform: translate3d(300%,0,0) scale3d(0,1,1);
}

.link--nukun:hover::after {
	-webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
	transform: translate3d(0,0,0) scale3d(1,1,1);
}

.link--nukun span {
	color: lightslategray;
	display: inline-block;
	position: relative;
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg);
	transform: perspective(1000px) rotate3d(0,1,0,0deg);
	-webkit-transition: -webkit-transform 0.5s, color 0.5s;
	transition: transform 0.5s, color 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.link--nukun:hover span {
	color: red;
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,180deg);
	transform: perspective(1000px) rotate3d(0,1,0,180deg);
}


p{
    font-family:monospace;
}

@media( max-width: 648px){

.ver1{background-color: white;}
.ver2{background-color: white;}
.ver3{background-color: white;}
.ver4{background-color: white;}
.ver5{background-color: white;}
.ver6{background-color: white;}
.ver7{background-color: white;}
.ver8{background-color: white;}
.ver9{background-color: white;}

    
}

footer{
    color: white;
    text-align: center;
    font-family: monospace;
    border: white solid;
}
.ver1{
    margin-right: 6%;
    margin-left: 4%;
    text-align: center;
    margin-bottom: 3%;
}
.ver1 p{
    padding: 0;
    display: inline;
    margin-right: 30%;
    background-color:white;

}

.ver2{
    margin-right: 2%;
    margin-left: 22%;
    margin-top: 3%;
    text-align: center;
}

.ver2 p{
    padding: 0;
    display: inline;
    text-align: center;
    margin: 40%;
    background-color: white;
    

}

.ver3{
    text-align: center;
    margin-bottom: 4%;
}

.ver3 p{
    padding: 0;
    display: inline;
    text-align: center;
    margin: 60%;
    background-color: white;

}
.ver4{
    margin-left: 20%;
    margin-right: 8%;
    text-align:end;
}

.ver4 p{
    padding: 0;
    display: inline;
    text-align:end;
    margin: 40%;
    background-color: white;

}

.ver5{
    text-align: center;
    margin: 5%;
}

.ver5 p{
    padding: 0;
    display: inline;
    text-align: center;
    margin: 60%;
    background-color: white;
    

}
.ver6{
    margin-left: 5%;
    margin-right: 25%;
    text-align: right;
}

.ver6 p{
    padding: 0;
    display: inline;
    
    margin: 30%;
    background-color: white;

}
.ver7{
    margin-right: 15%;
    margin-left: 14%;
    text-align: center;
}
.ver7 p{
    padding: 0;
    display: inline;
    margin-right: 40%;
    background-color: white;
    

}

.ver8{
    text-align: center;
    margin-left: 20%;
}

.ver8 p{
    padding: 0;
    display: inline;
    text-align: center;
    margin: 40%;
    background-color: white;

}
.ver9{
    text-align: center;
    margin-top: 3%;
}

.ver9 p{
    padding: 0;
    display: inline;
    text-align: center;
    margin: 45%;
    background-color: white;

}

